{% extends "layout-admin.html.twig" %}

{% block title %}
    Articles
{% endblock %}

{% block main %}
    <!-- Content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 my-3">
        {% if session.user_role is not defined or session.user_role != 'admin' %}
            <h1 class="mt-5">401 Accès interdit</h1>
        {% else %}
            {% if session.message is defined %}
                <div class="alert alert-{{ session.error_level}} alert-dismissible fade show" role="alert">
                    {{ session.message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="unsetSessionMessage"></button>
                </div>
            {% endif %}
            <!-- Button add post -->
            <a href="/admin/add-post" class="btn btn-primary mb-3" role="button">
                Ajouter un article
            </a>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for post in posts %}
                <div class="col">
                    <div class="card h-100">
                        <img src="/assets/img/{{ post.image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.excerpt }}</p>
                        </div>
                        <div class="card-footer bg-transparent">
                            <ul class="list-inline text-center">
                                <li class="list-inline-item me-5">
                                    <a href="/admin/post-{{ post.id }}"><i class="fa-solid fa-eye"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item me-5">
                                    <a href="/admin/modify-post-{{ post.id }}"><i class="fa-solid fa-pencil"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="/admin/delete-post-{{ post.id }}"><i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </main>
{% endblock %}

