{% extends "layout.html.twig" %}

{% block title %}
    Modify post
{% endblock %}

{% block main %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Modifier article {{ post.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Modifier votre article</p>
            <div class="my-5">
                <form id="modifyPost" data-sb-form-api-token="API_TOKEN" method="POST" enctype="multipart/form-data">
                    <div class="form-floating">
                        <input class="form-control" id="title" name="title" type="text" value="{{ post.title }}" data-sb-validations="required" />
                        <label for="title">Titre</label>
                        <div class="invalid-feedback" data-sb-feedback="title:required">Titre du article est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="excerpt" name="excerpt" type="text" value="{{ post.excerpt }}" data-sb-validations="required" />
                        <label for="excerpt">Chapô</label>
                        <div class="invalid-feedback" data-sb-feedback="excerpt:required">Châpo du article est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="category" name="category">
                            <option value="{{post.category_id}}" disabled selected>{{ post.category_name }}</option>
                            {% for category in categories %}
                            <option value="{{category.id}}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category">Catégorie</label>
                        <div class="invalid-feedback" data-sb-feedback="excerpt:required">Châpo du article est obligatoire</div>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" id="content" name="content" placeholder="Enter post content here..." style="height: 15rem" data-sb-validations="required">{{ post.content }}</textarea>
                        <label for="content">Contenu</label>
                        <div class="invalid-feedback" data-sb-feedback="content:required">Contenu du article est obligatoire.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="photo" name="photo" type="file" data-sb-validations="required"/>
                        <label for="photo">Photo</label>
                        <div class="invalid-feedback" data-sb-feedback="photo:required">Image d'en-tête du article est obligatoire</div>
                    </div>
                    <br />
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage"><div class="text-center mb-3">Votre article est modifié!</div></div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error de modifier votre article!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-dark text-uppercase" name="submitModifyButton" type="submit">Enregistrer</button></div>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock %}